body {
  margin: 0;
  font-family: Anurati,thunderstrike3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: Anurati;
  src: url('Anurati.otf') format('opentype');
}
@font-face {
  font-family: thunderstrike3d;
  src: url('thunderstrike3d.ttf') format('truetype');
}